.card-list {
    list-style: none;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;

}

.hero{
    /* background-color:  #E3E2DE; */
    /* text-align: justify; */
     
}

.main-area{
     text-align: justify;
     padding-top: 100px;
     /* padding-right: 100px; */
      width: 600px; 
   
}
.innertext{
   text-align: justify;
    padding-top: 30px;
}
.btn-1{
    padding-top: 10px;
}