.NavBarItems {
    background-color: linear-gradient(90deg, #007EC5);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;


}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-menu {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: flex-end;

}

.nav-menu li {
    margin-left: 30px;

}

.nav-links {
    color: var(--primary-heading);
    text-decoration: none;
    padding: 0.5rem 1 rem;
}

.nav-links:hover {
    color: #007EC5;
}