@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --primary-blue: #007EC5;
  --primary-heading: #323232;
  --text-color: #636363;
}

body {
  margin: 0 210px;
  font-family: Poppins;
}